/* Layouts */
.container {
    box-sizing: border-box;
    width: 360px;
    padding: 32px 0;
    margin: 0 auto;
}

/* Components */
.container {
    display: flex;
    flex-flow: column;
    color: #FFF;
}

header {
    margin-bottom: 31px;
}

.title {
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../img/clock.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.title__image {
    width: 267px;
    height: auto;
}

main {
    margin-bottom: 83px;
    text-align: center;
}

.explation {
    margin-bottom: 62px;
}

.explation > .subtitle-image {
    margin-bottom: 62px;
}

.explation__text {
    font-size: 14px;
    line-height: 2;
    background-image: url('./../img/quotes.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.calculation {
    margin-bottom: 64px;
}

.calculation__form {
    margin-bottom: 64px;
}

.calculation__form p {
    margin-bottom: 17px;
}

.calculation__form p:last-child {
    margin-bottom: initial;
}

.calculation__button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.calculation__button-wrapper > button.calculate {
    width: 241px;
    padding: 19px 36.5px 17px;
    border-radius: 13px;
    line-height: 1.3;
}

.calculation__button-wrapper > img {
    position: absolute;
    right: 13px;
    bottom: -10px;
    width: 43px;
    height: 48px;
}

.result__text-wrapper {
    margin-bottom: 55px;
}

.result__text-wrapper p {
    margin-bottom: 15px;
    font-size: 15px;
}

.result__text-wrapper p:last-child {
    margin-bottom: initial;
}

.result__text-wrapper strong {
    margin: 0 8px;
    font-size: 24px;
}

.result__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__button-wrapper > button.go {
    padding: 11.5px 17.5px;
    margin-right: 13px;
    border-radius: 56px;
}

.result__button-wrapper > button.share {
    padding: 11.5px 17.5px;
    border-radius: 56px;
}

footer {
    text-align: center;
}

.copyright {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.copyright > .logo-image {
    margin-bottom: 17px;
}

.copyright > small {
    font-size: 9px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.cheer__text-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cheer__text-wrapper p {
    font-family: 'OTEnjoystoriesBA', sans-serif;
    color: #5B2386;
    font-size: 36px;
}

.cheer__text-wrapper p:first-child {
    font-size: 64px;
}

.cheer__text-heart {
    display: none;
}

.cheer > .licat-image {
    margin-bottom: 30px;
}

/* Desktop */
@media (min-width: 960px) {
    /* Layouts */
    .container {
        width: 900px;
        padding: 70px 25px;
    }

    /* Components */
    header {
        margin-bottom: 46px;
    }

    .title {
        height: 265px;
    }

    .title__image {
        width: 564px;
    }

    main {
        margin-bottom: 130px;
    }

    .explation {
        margin-bottom: 97px;
    }

    .explation > .subtitle-image {
        width: 486px;
        margin-bottom: 73px;
    }

    .explation__text {
        font-size: 18px;
        line-height: 1.8;
        background-size: 493px auto;
    }

    .explation__text strong {
        font-size: 24px;
    }

    .calculation {
        margin-bottom: 147px;
    }

    .calculation__form {
        margin-bottom: 115px;
    }

    .calculation__form p {
        margin-bottom: 27px;
        font-size: 24px;
    }

    .calculation__form--time {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculation__form--time p {
        margin-bottom: initial;
    }

    .calculation__button-wrapper > button.calculate {
        width: auto;
        border-radius: 56px;
        padding: 21px 49px;
        font-size: 24px;
    }

    .calculation__button-wrapper > img {
        width: 64px;
        height: 72px;
        right: 65px;
        bottom: -25px;
    }

    .result__text-wrapper {
        margin-bottom: 127px;
    }

    .result__text-wrapper p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    .result__text-wrapper strong {
        font-size: 72px;
    }

    .result__button-wrapper > button.go {
        padding: 21px 49px;
        margin-right: 18px;
        font-size: 24px;
    }

    .result__button-wrapper > button.share {
        padding: 21px 49px;
        font-size: 24px;
    }

    .copyright > .logo-image {
        margin-bottom: 20px;
    }
    
    .copyright > small {
        color: #FFF;
        font-size: 12px;
    }

    .cheer__text-wrapper p:first-child {
        margin-bottom: 4px;
        font-size: 96px;
    }

    .cheer > .licat-image {    
        margin-bottom: 74px;
    }

}